* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 100px 0px;
}

.header-banner {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 70px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    width: 100%;
}

.header-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links > a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-container {
    display: flex;
    width: 70%;
    /* gap: 30px; */
    align-items: center;
}

.hero-left {    
    width: 100%;
}

.hero-left h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-left p {
    font-size: 18px;
    color: #E5E7EB;
}

.primary-button, 
.secondary-button {
    color: #E5E7EB;
    font-weight: bold;
    padding: 10px 30px;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
}

.primary-button {
    margin-top: 10px;
    background-color: #3F82F6;
}

.secondary-button {
    background-color: transparent;
    border: 2px solid #F9FAF8;
}

.primary-button:hover,
.secondary-button:hover {
    background-color:red;
    transition: background-color 0.5s;
}

.hero-right {
    width: 100%;
}

.hero-right .hero-pic{ 
    width: 90%;
    aspect-ratio:  6 / 3;
    margin-left: 30px;
    filter: drop-shadow(0 0 20px #ffffff);
}

.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0 50px 0;
}

.content .header-text {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    color: #1F2937;
}

.information-container {
    display: flex;
    justify-content: space-around;
    width: 70%; 
    padding: 50px
}

.image-plus-text {
    width: 20%;
}

.image-plus-text > img {
    width: 100%;
    aspect-ratio: 1/1;
    border: 5px solid lightblue;
    border-radius: 20px;
    filter: drop-shadow(0 0 30px black);
}

.image-plus-text > p {
    text-align: center;
}

.quote-container {
    margin-top: 50px;
    width: 100%;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 100px 200px
}

.quote {
    width: 70%;
}

.quote > p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote > h6 {
    text-align: end;
    font-size: 18px;
    font-weight: 900;
}

.call-to-action-container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin-top: 50px;
    padding: 40px 0;
    border-radius: 20px;
}

.call-to-action-left {

}

.call-to-action-left > h3 {
    color: #F9FAF8
}

.call-to-action-left > p {
    color: #E5E7EB;
}

.footer {
    width: 100%;
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    padding: 20px 0;
}
